body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f7fa;
    overflow-x: hidden;
}


.topbar {
    background: #0a2540;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #1f3c88;
    color: white;
    text-align: center;
    padding: 20px;
}


p {


    text-align: center;
}

h2 {


    text-align: center;
}


nav {
    background-color: #162f6a;
    padding: 10px;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


nav ul li {
    margin: 0 15px;
}


nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


nav ul li a:hover {
    text-decoration: underline;
}


main {
    padding: 20px;
}


section {
    margin-bottom: 25px;
}


.card {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


.modulos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 15px;
}


.modulo {
    background-color: white;
    padding: 15px;
    border-left: 5px solid #1f3c88;
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


.modulo h3 {
    margin-top: 0;
}


footer {
    background-color: #1f3c88;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    bottom: 0;
    position: absolute;
    width: 100%;
    left: 0;
}


a.boton {
    display: inline-block;
    margin: 5px;
    padding: 10px 15px;
    background-color: #1f3c88;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}


a.boton:hover {
    background-color: #162f6a;
}