body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #f4f6f9;
    overflow-x: hidden;
}

.topbar {
    background: #0a2540;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    padding: 30px;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}




.btn-agregar {
    background: #00aaff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}


.btn-agregar:hover {
    background: #0077cc;
}

.btn-eliminar {
    background: #dc2626;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-eliminar:hover {
    background: #b91c1c;
}


.tabla-contenedor {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


table {
    width: 100%;
    border-collapse: collapse;
}


th {
    background: #1e3a8a;
    color: white;
    padding: 12px;
}


td {
    padding: 12px;
    text-align: center;
}


tr:nth-child(even) {
    background: #f9f9f9;
}


/* ESTADOS */
.estado {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}


.alto {
    background: #d4edda;
    color: green;
}


.medio {
    background: #fff3cd;
    color: orange;
}


.bajo {
    background: #f8d7da;
    color: red;
}


.negado {
     background: #4c96eb;
    color: blue;




}
.cancelado {
         background: #f5f5f5;
    color: black;


}
.btn {
    background: #0a2540;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}


.btn:hover {
    background: #163a5f;
}


footer {
    margin-top: 20px;
    background: #0a2540;
    color: white;
    text-align: center;
    padding: 10px;
    position:absolute;
    bottom: 0;
    width: 100%;
}

nav {
    background-color: #162f6a;
    padding: 10px;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


nav ul li {
    margin: 0 15px;
}


nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


nav ul li a:hover {
    text-decoration: underline;
}
