<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="/css/styleseditarusu.css">
</head>

<body>

<header class="topbar">
    <h1>MULTIPRO PERU S.A.C.</h1>
    <span>Editar Usuario</span>
</header>

<main class="container">

    <div class="form-contenedor">
        <form th:action="@{/actualizarUsuario}" method="post" th:object="${usuario}">

            <label>ID</label>
            <input type="text" th:field="*{id_Usuario}" readonly>

            <label>Nombre</label>
            <input type="text" th:field="*{usuNombre}" required>

            <label>Correo</label>
            <input type="email" th:field="*{usuCorreo}" required>

            <label>Usuario</label>
            <input type="text" th:field="*{usuUsuario}" required>

            <label>Rol</label>
            <select th:field="*{usuRol}">
                <option value="Admin">Admin</option>
                <option value="Empleado">Empleado</option>
            </select>

            <div class="botones-form">
                <button type="submit" class="btn">Actualizar</button>
                <a href="/Usuario" class="btn-cancelar">Cancelar</a>
            </div>

        </form>
    </div>

</main>

</body>
</html>