<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inventario | MULTIPRO PERU S.A.C.</title>
    <link rel="stylesheet" href="stylesgestion.css">
    <link rel="stylesheet" href="modals.css"></link>
</head>
<body>


<header class="topbar">
    <h1>MULTIPRO PERU S.A.C.</h1>
    <span>Sistema de Inventario</span>
</header>


<main class="container">


    <div class="header-section">
        <h2>Gestión de Inventario</h2>
    <a href="Producto.html" class="btn-agregar">+ Nuevo Producto</a>
    </div>


    <div class="tabla-contenedor">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Producto</th>
                    <th>Operador</th>
                    <th>Cantidad</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>


            <tbody>
                <tr>
                    <td>001</td>
                    <td>Chip SIM</td>
                    <td>Movistar</td>
                    <td>150</td>
                    <td><span class="estado alto">Entregado</span></td>
                    <td><a href="Producto.html" class="edit">Editar</a></td>
                </tr>


                <tr>
                    <td>002</td>
                    <td>Chip SIM</td>
                    <td>Entel</td>
                    <td>40</td>
                    <td><span class="estado medio">Proceso</span></td>
                    <td><a href="Producto.html" class="edit">Editar</a></td>
                </tr>


                <tr>
                    <td>003</td>
                    <td>Paquete Delivery</td>
                    <td>General</td>
                    <td>15</td>
                    <td><span class="estado bajo">No Entregado</span></td>
                    <td><a href="Producto.html" class="edit">Editar</a></td>
                </tr>


                <tr>
                    <td>004</td>
                    <td>Router Portátil</td>
                    <td>Movistar</td>
                    <td>10</td>
                    <td><span class="estado negado">Reprogramado</span></td>
                    <td><a href="Producto.html" class="edit">Editar</a></td>
                   
                </tr>


                 <tr>
                    <td>005</td>
                    <td>Celular Samsung S26</td>
                    <td>Movistar</td>
                    <td>10</td>
                    <td><span class="estado cancelado">Cancelado</span></td>
                    <td><a href="Producto.html">Editar</a></td>
                   
                </tr>


            </tbody>
        </table>
    </div>


</main>

<script src="modals.js"></script>

<footer>
    <p>© 2026 MULTIPRO PERU S.A.C. | Sistema Interno</p>
</footer>

</body>
</html>
