<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Login | Multipro Perú</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>


<main class="container">

    <section class="left"></section>

    <section class="right">
        <header>
            <h2>Inicio de Sesión</h2>
            <p>MULTIPRO PERÚ</p>
        </header>
        <form action="/Main" method="get">
            <label>Usuario</label>
            <input type="text" placeholder="ejemplo1234">


            <label>Contraseña</label>
            <input type="password" placeholder="*****">


            <button type="submit">Iniciar Sesión</button>
            <p class="forgot">
                <a href="#">¿Olvidó la contraseña?</a>
            </p>
        </form>
    </section>
</main>
<footer>
    <p>© 2026 MULTIPRO PERU S.A.C. | Sistema Interno</p>
</footer>
</body>

</html>