<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sistema de gestión de almacén">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestión de Almacén</title>
    <link rel="stylesheet" href="/css/stylesmain.css">


</head>

<body>


<header class="topbar">
    <h1>Página principal</h1>
    <p>Control de inventario, ingresos, salidas y usuarios</p>
</header>


<nav>
    <ul>
        <li><a href="/Categoria">Lista de Categorías</a></li>
        <li><a href="/Contacto">Contacto</a></li>
        <li><a href="/Gestion">Lista de Productos</a></li>
        <li><a href="/Main"><u>Menú Principal</u></a></li>
        <li><a href="/Metrica">Métricas</a></li>
        <li><a href="/Publicidad">Publicidad</a></li>
        <li><a href="/Usuario">Usuarios</a></li>
        <li><a href="/GestionIngreso">Ingresos</a></li>
        <li><a href="/Gestionsalidas">Salidas</a></li>
    </ul>
</nav>


<main>


    <section class="card">
        <h2>Bienvenido</h2>
        <p>
            Bienvenido al sistema de MULTIPRO PERU S.A.C
        </p>
    </section>


    <section>
        <h2>Resumen de cada apartado del Sistema</h2>
        <section class="modulos">


            <article class="modulo">
                <h3>Lista de Categorías</h3>
                <p>Registro y Administración de las Categorías.</p>
            </article>

            <article class="modulo">
                <h3>Contacto</h3>
                <p>¡¡Página para contactarnos!!.</p>
            </article>

            <article class="modulo">
                <h3>Lista de Productos</h3>
                <p>Registro y administración de los Productos.</p>
            </article>

            <article class="modulo">
                <h3>Métricas</h3>
                <p>Gráfico de Cantidad de Productos Ingresados por Fecha.</p>
            </article>

            <article class="modulo">
                <h3>Publicidad</h3>
                <p>Publicidad de nuestra Empresa.</p>
            </article>

            <article class="modulo">
                <h3>Usuarios</h3>
                <p>Registro y administración de los Usuarios</p>
            </article>

            <article class="modulo">
                <h3>Ingresos</h3>
                <p>Control de entrada de productos al almacén.</p>
            </article>


            <article class="modulo">
                <h3>Salidas</h3>
                <p>Registro de salida de productos.</p>
            </article>

        </section>
    </section>

    <footer>
        <p>© MULTIPRO S.A.C.</p>
    </footer>

</main>
</body>

</html>