<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Nuevo Producto | MULTIPRO PERU S.A.C.</title>
    <link rel="stylesheet" href="/css/stylesproducto.css">
    <link rel="stylesheet" href="/css/modals.css">
</head>

<body>

<header class="topbar">
    <h1>MULTIPRO PERU S.A.C.</h1>
    <span>Registrar Producto</span>
</header>

<main class="container">

    <div class="header-section">
        <h2>Nuevo Producto</h2>
    </div>

    <div class="form-contenedor">

        <!-- FORM -->
        <form id="formProducto" action="/guardarProducto" method="post" th:object="${producto}">

            <label>ID Producto:</label>
            <input type="text" th:field="*{id_Producto}" required>

            <label>Nombre del Producto:</label>
            <input type="text" th:field="*{prodNombre}" required>

            <label>Categoría</label>
            <!-- 🔥 CORREGIDO -->
            <select th:field="*{prodCategoria}" required>
                <option value="">Seleccione</option>
                <option th:each="cat : ${categorias}"
                        th:value="${cat.catNombre}"
                        th:text="${cat.catNombre}">
                </option>
            </select>

            <label>Operador:</label>
            <!-- 🔥 CORREGIDO -->
            <select th:field="*{prodOperador}">
                <option value="Movistar">Movistar</option>
                <option value="Entel">Entel</option>
            </select>

            <div class="botones-form">
                <button type="submit" class="btn">
                    Guardar
                </button>

                <a href="/Gestion" class="btn-cancelar">Cancelar</a>
            </div>

        </form>

    </div>

</main>

<!-- MODAL -->
<div id="modalGuardar" class="modal-overlay" style="display:none;">
    <div class="modal-contenido">
        <div class="modal-icono">✔</div>
        <p class="modal-texto">
            Producto guardado correctamente.
        </p>
        <button class="btn-azul" onclick="cerrarGuardar()">
            Aceptar
        </button>
    </div>
</div>

<script src="/js/modals.js"></script>

<footer>
    <p>© 2026 MULTIPRO PERU S.A.C. | Sistema Interno</p>
</footer>

</body>
</html>