<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Publicidad | MULTIPRO PERU S.A.C.</title>
    <link rel="stylesheet" href="/css/stylespublicidad.css">
</head>

<body>

<header class="topbar">
    <h1>MULTIPRO PERU S.A.C.</h1>
    <span>Publicidad</span>
</header>

<nav>
    <ul>
        <li><a href="/Categoria">Lista de Categorías</a></li>
        <li><a href="/Contacto">Contacto</a></li>
        <li><a href="/Gestion">Lista de Productos</a></li>
        <li><a href="/Main">Menú Principal</a></li>
        <li><a href="/Metrica">Métricas</a></li>
        <li><a href="/Usuario">Usuarios</a></li>
        <li><a href="/GestionIngreso">Ingresos</a></li>
        <li><a href="/Gestionsalidas">Salidas</a></li>
    </ul>
</nav>

<main class="banner">


    <div class="texto">
        <h1>MULTIPRO PERU S.A.C.</h1>
        <h2>ENTREGAS RÁPIDAS Y SEGURAS</h2>


        <p>
            Especialistas en distribución de paquetería para empresas como
            <strong>Movistar</strong> y <strong>Entel</strong>.
        </p>


        <ul>
            <li>🚚 Entregas rápidas y eficientes</li>
            <li>🔒 Seguridad garantizada</li>
            <li>👨‍💼 Personal confiable</li>
            <li>📦 Control de pedidos en tiempo real</li>
        </ul>

        <a href="/Contacto">
            <button>CONTÁCTANOS</button>
        </a>
    </div>


    <!-- IMAGEN -->
    <div class="imagen">
        <img src="https://img.freepik.com/vector-gratis/diseno-fondo-repartidor_1212-470.jpg?semt=ais_hybrid&w=740&q=80"
             alt="delivery">
    </div>


</main>

<footer>
    <p>© 2026 MULTIPRO PERU S.A.C. | Sistema Interno</p>
</footer>

</body>

</html>