<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios | MULTIPRO</title>
    <link rel="stylesheet" href="/css/stylesusuario.css">
</head>

<body>

<header class="topbar">
    <h1>MULTIPRO PERU S.A.C.</h1>
    <span>Gestión de Usuarios</span>
</header>

<nav>
    <ul>
        <li><a href="/Categoria"><u>Lista de Categorías</u></a></li>
        <li><a href="/Contacto">Contacto</a></li>
        <li><a href="/Gestion">Lista de Productos</a></li>
        <li><a href="/Main">Menú Principal</a></li>
        <li><a href="/Metrica">Métricas</a></li>
        <li><a href="/Publicidad">Publicidad</a></li>
        <li><a href="/Usuario"><u>Usuarios</u></a></li>
        <li><a href="/GestionIngreso">Ingresos</a></li>
        <li><a href="/Gestionsalidas">Salidas</a></li>
    </ul>
</nav>

<main class="container">

    <div class="header-section">
        <h2>Lista de Usuarios</h2>
        <a href="/NuevoUsu" class="btn-agregar">+ Nuevo Usuario</a>
    </div>

    <section class="tabla-contenedor">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="u : ${usuarios}">
                <td th:text="${u.id_Usuario}"></td>
                <td th:text="${u.usuNombre}"></td>
                <td th:text="${u.usuCorreo}"></td>
                <td th:text="${u.usuRol}"></td>

                <td>
                    <a th:href="@{'/editarUsuario/' + ${u.id_Usuario}}" class="edit">Editar</a>
                    <a th:href="@{'/eliminarUsuario/' + ${u.id_Usuario}}" class="delete">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>

</main>

<footer>
    <p>© 2026 MULTIPRO PERU S.A.C.</p>
</footer>

</body>
</html>