<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle de Ingreso | MULTIPRO PERU S.A.C.</title>
    <link rel="stylesheet" href="/css/stylesvermasingreso.css">
</head>

<body>

<header class="topbar">
    <h1>MULTIPRO PERU S.A.C.</h1>
    <span>Detalle de Ingreso</span>
</header>

<main class="container">

    <section class="card">
        <h2>Datos del Ingreso</h2>

        <div class="form-general">

            <div>
                <label>ID</label>
                <p th:text="${ingreso.id_Ingreso}"></p>
            </div>

            <div>
                <label>Proveedor</label>
                <p th:text="${ingreso.ingProveedor}"></p>
            </div>

            <div>
                <label>Responsable</label>
                <p th:text="${ingreso.ingResponsable}"></p>
            </div>

            <div>
                <label>Fecha</label>
                <p th:text="${ingreso.ingFecha}"></p>
            </div>

            <div>
                <label>Hora</label>
                <p th:text="${ingreso.ingHora}"></p>
            </div>

        </div>
    </section>

    <section class="card">
        <h2>Productos del Ingreso</h2>

        <table>
            <thead>
            <tr>
                <th># Numero</th>
                <th>Nombre Producto</th>
                <th>Cantidad</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="d, iter : ${ingreso.detalles}">
                <td th:text="${iter.index + 1}"></td>
                <td th:text="${d.nombreProducto}"></td>
                <td th:text="${d.cantidad}"></td>
            </tr>
            </tbody>
        </table>

        <br>

        <a href="/GestionIngreso" class="btn-agregar">⬅ Volver</a>

    </section>

</main>

</body>
</html>
